.profile-page{
    padding: 50px 200px;
    .form-profile{
        margin-top: 20px;
        .mb-3 {
            display: flex;
            align-items: center;
            .form-label {
                width: 110px;
                min-width: 110px;
            }
            .form-profile-handle {
                display: flex;
                align-items: center;
                margin-left: 30px;
                gap: 20px;
                width: 100%;
            }
        }
    }
    
}
.profile-page-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
}