
.dropdown-item {
  font-size: 14px;
  color: #b1b0ab ;
}

.button-user-info {
  background-color: white;
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 0px;
  border-radius: 8px;
  .font-14 {
    display: flex;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    // color: rgb(128, 128, 137);
    color: black;
    box-shadow: none;
  }
}


.ms-auto{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px
}

.menu-categories{
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  padding-right: 0px;
  width: fit-content;
  .menu-categories-item{
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    color: #717171;
  }
}

